<!DOCTYPE html>
<html>
<head>
	<title>
		Create User
	</title>
	<script type="text/javascript" src="..\..\js\angular.min.js"></script>
</head>
<body>
	<form ng-app="myApp" ng-controller="createuser">
		<pre>
			<input type="text" name="fname" ng-model="fname" placeholder="First name">
			<input type="text" name="lname" ng-model="lname" placeholder="last name">
			<input type="text" name="age" ng-model="age" placeholder="age">
			<input type="text" name="email" ng-model="email" placeholder="e-mail">
			<input type="submit" name="Create User" value= "Create User" ng-submit="createUser()">
		</pre>
	</form>
</body>
</html>